.cards-swiper {
  &::before {
    z-index: 11;
    position: absolute;
    content: '';
    width: 50px;
    height: 72px;
    top: 0;
    right: 0;
    box-shadow: inset -24px 0 16px -7px #fff;
  }

  @media screen and (min-width: $md-screen) {
    &::before {
      display: none;
    }
  }

  &__wrapper {
    margin-bottom: 16px;

    @media screen and (min-width: $md-screen) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      column-gap: 24px;
      row-gap: 16px;
      transform: translate3d(0px, 0px, 0px) !important;
    }
  }

  &__card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 16px;
    width: 240px;
    height: 72px;
    border-radius: 5px;
    margin: 0 8px;
    border: 1px solid rgb(234, 234, 234);

    @media screen and (min-width: $md-screen) {
      width: 100%;
      margin: 0;
    }
  }

	&__arrow{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border: 2px solid $pink;
		border-radius: 50%;
	}

  &__pagination {
    position: relative;
    top: 0;

    .swiper-pagination-bullet {
      background-color: rgba(181, 182, 188, 1);
    }
  }
}
